<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/DC2Tg5pd9uf5JqCc3ZGUoU-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Forza Horizon 5</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/iPKatp6VvEFwBwMeYXSwhR-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Doom Eternal </h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/tLc63ZgRv6eVpEFg6K7T4U-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alien Isolation</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/hnoJTWPk34kRZtcMCsrph5-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Rocket League</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/ZogFbRzhXfe7sLu2VN9b9X-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Final Fantasy 14</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/5WnJSkxWLscNNVrYDdvFxA-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mass Effect 2</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/dyUwXxjZRCt7W6GwEhgqw7-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Call of Duty: Warzone</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/XdH56Cr6JzkoVB4xwugTVT-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Subnautica</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/te5RQ2nzHFAGn9cd8ayZab-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">God of War</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="https://cdn.mos.cms.futurecdn.net/pMNAGBgznvEHzS7AyBntJb-970-80.jpg.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> XCOM 2</h5>
                    
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
